{% extends 'header.html' %}
{% block container %}
<script type="text/javascript">
    function uploadVideo()
    {
        document.getElementById('btnSubmit').value = "Uploading file...";
        document.getElementById('btnSubmit').disabled = true;
        document.frmFileUpload.submit();
    }
</script>
<div class="jumbotron">
    <h2>Upload File</h2>
    <form method="POST" action='' name="frmFileUpload" enctype="multipart/form-data"> {% csrf_token %}
        {% for field in form %}
            <div>
                <span>{{ field.label }}</span>
                <span>{{ field }}</span>
            </div>
        {% endfor %}<br>
        <input class="btn-sm btn-block btn-success" type="button" id="btnSubmit" onclick="uploadVideo()" value="Upload Video">
        {% for field in form %}
            <div class="text-danger">
                {{ field.errors }}
            </div>
        {% endfor %}
        <h4 class="text-info">
            {{ message }}
        </h4>
    </form>
  </div>
{% endblock%}