{% extends 'header.html' %}
{% block container %}
<script type="text/javascript">
    function loadVideo(videoName, url, resolution) {
        document.getElementById("videoName").innerHTML = videoName;
        document.getElementById("resolution").innerHTML = 'Resolution ' + resolution;
        var player = document.getElementById('vdHotPress');
        var source = document.getElementById('videoSource');
        $(source).attr('src', url);
        player.load();
        player.play();
    }
</script>
<div class="jumbotron">
    {% if videos|length %}
        <h4 id="videoName">Click video's below to view preview.</h4>
        <h5 id="resolution"></h5>
        <div class="thumbnail">
            <video width="100%" id="vdHotPress" controls>
                <source id="videoSource" src="" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
    {% endif %}
    <p><a class="btn btn-lg btn-success" href="/upload" role="button">Upload Video</a></p>
</div>

<div class="row marketing">
    <div class="row">
        {% for video in videos %}
            <div class="col-sm-4 text-center">
                <div class="thumbnail">
                    <video width="100%" id="vdHotPress" controls>
                        <source id="videoSource" src="{{ video.url }}" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                    <a onclick="loadVideo('{{ video.name }}', '{{ video.url }}', '{{ video.resolution }}')">{{ video.name }}</a>
                    {{ video.resolution }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock%}